In [1]:
from time import sleep

from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, col
from pyspark.sql.types import *


spark = SparkSession.builder.master("local").getOrCreate()
sc = spark.sparkContext

# 1. HOW TO CREATE DATAFRAME

In [3]:
first_df = spark.read. \
    format("json"). \
    option("inferSchema", "true"). \
    load("data/cars")

first_df.show()
first_df.printSchema()

+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|                Name|Origin|Weight_in_lbs|      Year|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|      null|
|        12.0|        8|       307.0|       130|            18.0|chevrolet chevell...|   USA|         3504|1970-01-01|
|        11.5|        8|       350.0|       165|            15.0|   buick skylark 320|   USA|         3693|1970-01-01|
|        11.0|        8|       318.0|       150|            18.0|  plymouth satellite|   USA|         3436|1970-01-01|
|        12.0|        8|       304.0|       150|            16.0|       amc rebel sst|   USA|         3433|1970-01-01|
|        10.5|        8|       302.0|       140|            17.0|         ford torino|   USA|         3449|1970-01-01|
|        10.0|        8|       429.0|       198|            15.0|    ford galaxie 500|   USA|         4341|1970-01-01|
|         9.0|        8|       454.0|       220|            14.0|    chevrolet impala|   USA|         4354|1970-01-01|
|         8.5|        8|       440.0|       215|            14.0|   plymouth fury iii|   USA|         4312|1970-01-01|
|        10.0|        8|       455.0|       225|            14.0|    pontiac catalina|   USA|         4425|1970-01-01|
|         8.5|        8|       390.0|       190|            15.0|  amc ambassador dpl|   USA|         3850|1970-01-01|
|        17.5|        4|       133.0|       115|            null|citroen ds-21 pallas|Europe|         3090|1970-01-01|
|        11.5|        8|       350.0|       165|            null|chevrolet chevell...|   USA|         4142|1970-01-01|
|        11.0|        8|       351.0|       153|            null|    ford torino (sw)|   USA|         4034|1970-01-01|
|        10.5|        8|       383.0|       175|            null|plymouth satellit...|   USA|         4166|1970-01-01|
|        11.0|        8|       360.0|       175|            null|  amc rebel sst (sw)|   USA|         3850|1970-01-01|
|        10.0|        8|       383.0|       170|            15.0| dodge challenger se|   USA|         3563|1970-01-01|
|         8.0|        8|       340.0|       160|            14.0|   plymouth cuda 340|   USA|         3609|1970-01-01|
|         8.0|        8|       302.0|       140|            null|ford mustang boss...|   USA|         3353|1970-01-01|
|         9.5|        8|       400.0|       150|            15.0|chevrolet monte c...|   USA|         3761|1970-01-01|
+------------+---------+------------+----------+----------------+--------------------+------+-------------+----------+
only showing top 20 rows

root
 |-- Acceleration: double (nullable = true)
 |-- Cylinders: long (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: long (nullable = true)
 |-- Miles_per_Gallon: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Weight_in_lbs: long (nullable = true)
 |-- Year: string (nullable = true)

In [3]:
# specify a schema manually
cars_schema = StructType([
    StructField("Name", StringType()),
    StructField("Acceleration", DoubleType()),
    StructField("Cylinders", LongType()),
    StructField("Displacement", DoubleType()),
    StructField("Horsepower", IntegerType()),
    StructField("Miles_per_Gallon", DoubleType()),
    StructField("Origin", StringType()),
    StructField("Weight_in_lbs", LongType()),
    StructField("Year", StringType()),
])

# TODO - Int Type
#!!!!!!!!!!! Very Important Warning Long Type vs IntType

# reading a DF with a manual schema
cars_df = spark.read. \
    format("json"). \
    schema(cars_schema). \
    load("data/cars")

cars_df.filter(col("Cylinders") > 7).show()

+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+
|                Name|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|Origin|Weight_in_lbs|      Year|
+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+
|chevrolet chevell...|        12.0|        8|       307.0|       130|            18.0|   USA|         3504|      null|
|chevrolet chevell...|        12.0|        8|       307.0|       130|            18.0|   USA|         3504|1970-01-01|
|   buick skylark 320|        11.5|        8|       350.0|       165|            15.0|   USA|         3693|1970-01-01|
|  plymouth satellite|        11.0|        8|       318.0|       150|            18.0|   USA|         3436|1970-01-01|
|       amc rebel sst|        12.0|        8|       304.0|       150|            16.0|   USA|         3433|1970-01-01|
|         ford torino|        10.5|        8|       302.0|       140|            17.0|   USA|         3449|1970-01-01|
|    ford galaxie 500|        10.0|        8|       429.0|       198|            15.0|   USA|         4341|1970-01-01|
|    chevrolet impala|         9.0|        8|       454.0|       220|            14.0|   USA|         4354|1970-01-01|
|   plymouth fury iii|         8.5|        8|       440.0|       215|            14.0|   USA|         4312|1970-01-01|
|    pontiac catalina|        10.0|        8|       455.0|       225|            14.0|   USA|         4425|1970-01-01|
|  amc ambassador dpl|         8.5|        8|       390.0|       190|            15.0|   USA|         3850|1970-01-01|
|chevrolet chevell...|        11.5|        8|       350.0|       165|            null|   USA|         4142|1970-01-01|
|    ford torino (sw)|        11.0|        8|       351.0|       153|            null|   USA|         4034|1970-01-01|
|plymouth satellit...|        10.5|        8|       383.0|       175|            null|   USA|         4166|1970-01-01|
|  amc rebel sst (sw)|        11.0|        8|       360.0|       175|            null|   USA|         3850|1970-01-01|
| dodge challenger se|        10.0|        8|       383.0|       170|            15.0|   USA|         3563|1970-01-01|
|   plymouth cuda 340|         8.0|        8|       340.0|       160|            14.0|   USA|         3609|1970-01-01|
|ford mustang boss...|         8.0|        8|       302.0|       140|            null|   USA|         3353|1970-01-01|
|chevrolet monte c...|         9.5|        8|       400.0|       150|            15.0|   USA|         3761|1970-01-01|
|buick estate wago...|        10.0|        8|       455.0|       225|            14.0|   USA|         3086|1970-01-01|
+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+
only showing top 20 rows

In [13]:
# How to compare Data Frames

# TODO
# Parsed Plan = dont check fields, functions, expression
# Analyzed plan =
# Opt logical plan = 30-40 optimisations,
# Physical plan =

# Comparing
#  1 ==> first_df == first_df_inferSchema
#  2 ==> count1 union + distinct  first_df first_df_inferSchema, count1 = 10, count2 = 10,  count1 union (union all) + distinct = union = 20 or 10, antijoin
#  3 ==>

first_df_inferSchema = spark.read. \
    format("json"). \
    option("inferSchema", "true"). \
    load("data/cars")

first_df_inferSchema.printSchema()
cars_df.printSchema()
assert(first_df_inferSchema.schema == cars_df.schema)

root
 |-- Acceleration: double (nullable = true)
 |-- Cylinders: long (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: long (nullable = true)
 |-- Miles_per_Gallon: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Weight_in_lbs: long (nullable = true)
 |-- Year: string (nullable = true)

root
 |-- Name: string (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Cylinders: long (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Miles_per_Gallon: double (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Weight_in_lbs: long (nullable = true)
 |-- Year: string (nullable = true)

AssertionError:

# 3. Catalyst Optimiser = Logical Plans + Codegeneration

In [5]:
#  DAG => Parsed Plan => Analyzed plan => Opt plan => Physical plan => Codegeneration
# Logical Plans
# Parsed Plan
# Analyzed plan
# Opt plan

most_powered_df = cars_df. \
    where(cars_df.Cylinders > 4). \
    withColumn("new", expr("Acceleration + 10")). \
    sort(cars_df.Horsepower.desc(), cars_df.Acceleration.asc())

most_powered_df.explain(True)

most_powered_df.show()

# WORKS ONLY IN SCALA
# most_powered_df.queryExecution().debug().codegen()

== Parsed Logical Plan ==
Sort [Horsepower#4 DESC NULLS LAST, Acceleration#1 ASC NULLS FIRST], true
+- Project [Name#0, Acceleration#1, Cylinders#2L, Displacement#3, Horsepower#4, Miles_per_Gallon#5, Origin#6, Weight_in_lbs#7L, Year#8, (Acceleration#1 + cast(10 as double)) AS new#125]
   +- Filter (Cylinders#2L > cast(4 as bigint))
      +- Relation [Name#0,Acceleration#1,Cylinders#2L,Displacement#3,Horsepower#4,Miles_per_Gallon#5,Origin#6,Weight_in_lbs#7L,Year#8] json

== Analyzed Logical Plan ==
Name: string, Acceleration: double, Cylinders: bigint, Displacement: double, Horsepower: int, Miles_per_Gallon: double, Origin: string, Weight_in_lbs: bigint, Year: string, new: double
Sort [Horsepower#4 DESC NULLS LAST, Acceleration#1 ASC NULLS FIRST], true
+- Project [Name#0, Acceleration#1, Cylinders#2L, Displacement#3, Horsepower#4, Miles_per_Gallon#5, Origin#6, Weight_in_lbs#7L, Year#8, (Acceleration#1 + cast(10 as double)) AS new#125]
   +- Filter (Cylinders#2L > cast(4 as bigint))
      +- Relation [Name#0,Acceleration#1,Cylinders#2L,Displacement#3,Horsepower#4,Miles_per_Gallon#5,Origin#6,Weight_in_lbs#7L,Year#8] json

== Optimized Logical Plan ==
Sort [Horsepower#4 DESC NULLS LAST, Acceleration#1 ASC NULLS FIRST], true
+- Project [Name#0, Acceleration#1, Cylinders#2L, Displacement#3, Horsepower#4, Miles_per_Gallon#5, Origin#6, Weight_in_lbs#7L, Year#8, (Acceleration#1 + 10.0) AS new#125]
   +- Filter (isnotnull(Cylinders#2L) AND (Cylinders#2L > 4))
      +- Relation [Name#0,Acceleration#1,Cylinders#2L,Displacement#3,Horsepower#4,Miles_per_Gallon#5,Origin#6,Weight_in_lbs#7L,Year#8] json

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [Horsepower#4 DESC NULLS LAST, Acceleration#1 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(Horsepower#4 DESC NULLS LAST, Acceleration#1 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [id=#56]
      +- Project [Name#0, Acceleration#1, Cylinders#2L, Displacement#3, Horsepower#4, Miles_per_Gallon#5, Origin#6, Weight_in_lbs#7L, Year#8, (Acceleration#1 + 10.0) AS new#125]
         +- Filter (isnotnull(Cylinders#2L) AND (Cylinders#2L > 4))
            +- FileScan json [Name#0,Acceleration#1,Cylinders#2L,Displacement#3,Horsepower#4,Miles_per_Gallon#5,Origin#6,Weight_in_lbs#7L,Year#8] Batched: false, DataFilters: [isnotnull(Cylinders#2L), (Cylinders#2L > 4)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/cars], PartitionFilters: [], PushedFilters: [IsNotNull(Cylinders), GreaterThan(Cylinders,4)], ReadSchema: struct<Name:string,Acceleration:double,Cylinders:bigint,Displacement:double,Horsepower:int,Miles_...

+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+----+
|                Name|Acceleration|Cylinders|Displacement|Horsepower|Miles_per_Gallon|Origin|Weight_in_lbs|      Year| new|
+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+----+
|  pontiac grand prix|         9.5|        8|       400.0|       230|            16.0|   USA|         4278|1973-01-01|19.5|
|buick estate wago...|        10.0|        8|       455.0|       225|            14.0|   USA|         3086|1970-01-01|20.0|
|    pontiac catalina|        10.0|        8|       455.0|       225|            14.0|   USA|         4425|1970-01-01|20.0|
|buick electra 225...|        11.0|        8|       455.0|       225|            12.0|   USA|         4951|1973-01-01|21.0|
|    chevrolet impala|         9.0|        8|       454.0|       220|            14.0|   USA|         4354|1970-01-01|19.0|
|   plymouth fury iii|         8.5|        8|       440.0|       215|            14.0|   USA|         4312|1970-01-01|18.5|
|chrysler new york...|        11.0|        8|       440.0|       215|            13.0|   USA|         4735|1973-01-01|21.0|
|           ford f250|        14.0|        8|       360.0|       215|            10.0|   USA|         4615|1970-01-01|24.0|
|          dodge d200|        13.5|        8|       318.0|       210|            11.0|   USA|         4382|1970-01-01|23.5|
|     mercury marquis|        11.0|        8|       429.0|       208|            11.0|   USA|         4633|1972-01-01|21.0|
|           chevy c20|        15.0|        8|       307.0|       200|            10.0|   USA|         4376|1970-01-01|25.0|
|    ford galaxie 500|        10.0|        8|       429.0|       198|            15.0|   USA|         4341|1970-01-01|20.0|
|mercury marquis b...|        11.5|        8|       429.0|       198|            12.0|   USA|         4952|1973-01-01|21.5|
|            hi 1200d|        18.5|        8|       304.0|       193|             9.0|   USA|         4732|1970-01-01|28.5|
|  amc ambassador dpl|         8.5|        8|       390.0|       190|            15.0|   USA|         3850|1970-01-01|18.5|
|    chrysler cordoba|        12.2|        8|       400.0|       190|            15.5|   USA|         4325|1977-01-01|22.2|
|chrysler newport ...|        12.5|        8|       400.0|       190|            13.0|   USA|         4422|1972-01-01|22.5|
|    oldsmobile omega|        11.0|        8|       350.0|       180|            11.0|   USA|         3664|1973-01-01|21.0|
|pontiac grand pri...|        11.1|        8|       400.0|       180|            16.0|   USA|         4220|1977-01-01|21.1|
|   dodge monaco (sw)|        11.5|        8|       383.0|       180|            12.0|   USA|         4955|1971-01-01|21.5|
+--------------------+------------+---------+------------+----------+----------------+------+-------------+----------+----+
only showing top 20 rows