In [1]:
from time import sleep

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql import functions as F

In [2]:
spark = SparkSession. \
    builder. \
    appName("Data Sources"). \
    master("local"). \
    config("spark.jars", "../jars/postgresql-42.2.19.jar"). \
    config("spark.sql.legacy.timeParserPolicy", "LEGACY"). \
    config("spark.sql.autoBroadcastJoinThreshold", -1). \
    getOrCreate()

In [5]:
movies_df = spark.read.json("data/movies")

In [ ]:
# aggregations

In [4]:
# counting
all_movies_count_df = movies_df.selectExpr("count(Major_Genre)")
print("SIMPLE COUNT")
all_movies_count_df.show()
all_movies_count_df.explain()

SIMPLE COUNT
+------------------+
|count(Major_Genre)|
+------------------+
|              2926|
+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[count(Major_Genre#13)])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [id=#46]
      +- HashAggregate(keys=[], functions=[partial_count(Major_Genre#13)])
         +- FileScan json [Major_Genre#13] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Major_Genre:string>

In [6]:
 # null not included
genres_count_df = movies_df.select(count(col("Major_Genre")))
print("SIMPLE COUNT Genre")
genres_count_df.show()
genres_count_df.explain()

SIMPLE COUNT Genre
+------------------+
|count(Major_Genre)|
+------------------+
|              2926|
+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[count(Major_Genre#65)])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [id=#94]
      +- HashAggregate(keys=[], functions=[partial_count(Major_Genre#65)])
         +- FileScan json [Major_Genre#65] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Major_Genre:string>

In [7]:
 # null not included
genres_count_df = movies_df.select(count(col("Major_Genre")))
print("SIMPLE COUNT Genre")
genres_count_df.show()
genres_count_df.explain()

SIMPLE COUNT Genre
+------------------+
|count(Major_Genre)|
+------------------+
|              2926|
+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[], functions=[count(Major_Genre#65)])
   +- Exchange SinglePartition, ENSURE_REQUIREMENTS, [id=#139]
      +- HashAggregate(keys=[], functions=[partial_count(Major_Genre#65)])
         +- FileScan json [Major_Genre#65] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Major_Genre:string>

In [8]:
# null included
genres_count_df_v2 = movies_df.selectExpr("count(*)")
print("SIMPLE COUNT Genre Expr")
genres_count_df_v2.show()

SIMPLE COUNT Genre Expr
+--------+
|count(1)|
+--------+
|    3201|
+--------+

In [9]:
# null included

genres_count_df_v2 = movies_df.selectExpr("count(*)")
print("SIMPLE COUNT Genre Expr")
genres_count_df_v2.show()

SIMPLE COUNT Genre Expr
+--------+
|count(1)|
+--------+
|    3201|
+--------+

In [11]:
 # null included  .count() is Action
genres_count_number = movies_df.select("Major_Genre").count()
print("SIMPLE COUNT Genre wit select")
print(genres_count_number)

SIMPLE COUNT Genre wit select
3201

In [13]:
# count distinct 
unique_genres_df = movies_df.select(F.countDistinct(F.col("Major_Genre")))
print("COUNT DISTINCT Genre wit select")
unique_genres_df.show()

COUNT DISTINCT Genre wit select
+---------------------------+
|count(DISTINCT Major_Genre)|
+---------------------------+
|                         12|
+---------------------------+

In [14]:
unique_genres_df_v2 = movies_df.selectExpr("count(DISTINCT Major_Genre)")
print("COUNT DISTINCT Genre with Expression")
unique_genres_df_v2.show()

COUNT DISTINCT Genre with Expression
+---------------------------+
|count(DISTINCT Major_Genre)|
+---------------------------+
|                         12|
+---------------------------+

# math aggregations

In [15]:
# min/max
max_rating_df = movies_df.select(max(col("IMDB_Rating")).alias("max value of IMDB Rating"))
print("max IMDB_Rating with functions")
max_rating_df.show()

max_rating_df_v2 = movies_df.selectExpr("min(IMDB_Rating)").alias("mix value of IMDB Rating")
print("max IMDB_Rating with Expression")
max_rating_df_v2.show()

max IMDB_Rating with functions
+------------------------+
|max value of IMDB Rating|
+------------------------+
|                     9.2|
+------------------------+

max IMDB_Rating with Expression
+----------------+
|min(IMDB_Rating)|
+----------------+
|             1.4|
+----------------+

In [16]:
# sum values in a column
us_industry_total_df = movies_df.select(sum(col("US_Gross")))
print("sum US_Gross")
us_industry_total_df.show()

us_industry_total_df_v2 = movies_df.selectExpr("sum(US_Gross)")
print("sum US_Gross Expr")
us_industry_total_df_v2.show()

sum US_Gross
+-------------+
|sum(US_Gross)|
+-------------+
| 140542660013|
+-------------+

sum US_Gross Expr
+-------------+
|sum(US_Gross)|
+-------------+
| 140542660013|
+-------------+

In [17]:
# avg
avg_rt_rating_df = movies_df.select(avg(col("Rotten_Tomatoes_Rating")))
print("avg Rotten_Tomatoes_Rating")
avg_rt_rating_df.show()

avg Rotten_Tomatoes_Rating
+---------------------------+
|avg(Rotten_Tomatoes_Rating)|
+---------------------------+
|          54.33692373976734|
+---------------------------+

In [18]:
# mean/standard dev
rt_stats_df = movies_df.agg(
    mean(col("Rotten_Tomatoes_Rating")),
    stddev(col("Rotten_Tomatoes_Rating"))
)
print("mean/standard dev")
rt_stats_df.show()

mean/standard dev
+---------------------------+-----------------------------------+
|avg(Rotten_Tomatoes_Rating)|stddev_samp(Rotten_Tomatoes_Rating)|
+---------------------------+-----------------------------------+
|          54.33692373976734|                  28.07659263787602|
+---------------------------+-----------------------------------+

# Grouping

In [19]:
# nulls are also considered
count_by_genre_df = movies_df. \
    groupBy(col("Major_Genre")). \
    count()
print("count group by dev")
count_by_genre_df.show()
count_by_genre_df.explain()

count group by dev
+-------------------+-----+
|        Major_Genre|count|
+-------------------+-----+
|          Adventure|  274|
|               null|  275|
|              Drama|  789|
|        Documentary|   43|
|       Black Comedy|   36|
|  Thriller/Suspense|  239|
|            Musical|   53|
|    Romantic Comedy|  137|
|Concert/Performance|    5|
|             Horror|  219|
|            Western|   36|
|             Comedy|  675|
|             Action|  420|
+-------------------+-----+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[Major_Genre#65], functions=[count(1)])
   +- Exchange hashpartitioning(Major_Genre#65, 200), ENSURE_REQUIREMENTS, [id=#663]
      +- HashAggregate(keys=[Major_Genre#65], functions=[partial_count(1)])
         +- FileScan json [Major_Genre#65] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Major_Genre:string>


avg group by dev
+-------------------+------------------+
|        Major_Genre|  avg(IMDB_Rating)|
+-------------------+------------------+
|          Adventure| 6.345019920318729|
|               null|  6.50082644628099|
|              Drama| 6.773441734417339|
|        Documentary| 6.997297297297298|
|       Black Comedy|6.8187500000000005|
|  Thriller/Suspense| 6.360944206008582|
|            Musical|             6.448|
|    Romantic Comedy| 5.873076923076922|
|Concert/Performance|             6.325|
|             Horror|5.6760765550239185|
|            Western| 6.842857142857142|
|             Comedy| 5.853858267716529|
|             Action| 6.114795918367349|
+-------------------+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[Major_Genre#65], functions=[avg(IMDB_Rating#62)])
   +- Exchange hashpartitioning(Major_Genre#65, 200), ENSURE_REQUIREMENTS, [id=#721]
      +- HashAggregate(keys=[Major_Genre#65], functions=[partial_avg(IMDB_Rating#62)])
         +- FileScan json [IMDB_Rating#62,Major_Genre#65] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<IMDB_Rating:double,Major_Genre:string>

In [21]:
# Grouping and counting
avg_rating_by_genre_df = movies_df. \
    groupBy(col("Major_Genre")). \
    avg("IMDB_Rating")
print("avg group by dev")
avg_rating_by_genre_df.show()
avg_rating_by_genre_df.explain()

avg group by dev
+-------------------+------------------+
|        Major_Genre|  avg(IMDB_Rating)|
+-------------------+------------------+
|          Adventure| 6.345019920318729|
|               null|  6.50082644628099|
|              Drama| 6.773441734417339|
|        Documentary| 6.997297297297298|
|       Black Comedy|6.8187500000000005|
|  Thriller/Suspense| 6.360944206008582|
|            Musical|             6.448|
|    Romantic Comedy| 5.873076923076922|
|Concert/Performance|             6.325|
|             Horror|5.6760765550239185|
|            Western| 6.842857142857142|
|             Comedy| 5.853858267716529|
|             Action| 6.114795918367349|
+-------------------+------------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[Major_Genre#65], functions=[avg(IMDB_Rating#62)])
   +- Exchange hashpartitioning(Major_Genre#65, 200), ENSURE_REQUIREMENTS, [id=#837]
      +- HashAggregate(keys=[Major_Genre#65], functions=[partial_avg(IMDB_Rating#62)])
         +- FileScan json [IMDB_Rating#62,Major_Genre#65] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<IMDB_Rating:double,Major_Genre:string>

In [22]:
# multiple aggregations
aggregations_by_genre_df = movies_df. \
    groupBy(col("Major_Genre")). \
    agg(
    # use strings here for column names
    count("*").alias("N_Movies"),
    avg("IMDB_Rating").alias("Avg_Rating")
)
aggregations_by_genre_df.show()

+-------------------+--------+------------------+
|        Major_Genre|N_Movies|        Avg_Rating|
+-------------------+--------+------------------+
|          Adventure|     274| 6.345019920318729|
|               null|     275|  6.50082644628099|
|              Drama|     789| 6.773441734417339|
|        Documentary|      43| 6.997297297297298|
|       Black Comedy|      36|6.8187500000000005|
|  Thriller/Suspense|     239| 6.360944206008582|
|            Musical|      53|             6.448|
|    Romantic Comedy|     137| 5.873076923076922|
|Concert/Performance|       5|             6.325|
|             Horror|     219|5.6760765550239185|
|            Western|      36| 6.842857142857142|
|             Comedy|     675| 5.853858267716529|
|             Action|     420| 6.114795918367349|
+-------------------+--------+------------------+

In [24]:
# sorting
# TODO slide how to work rangepartitioning in Spark
best_movies_df = movies_df.orderBy(col("IMDB_Rating").desc())
best_movies_df.show()
best_movies_df.explain()

# sorting works for numerical, strings (lexicographic), dates

+--------------------+--------------------+--------------------+-----------+----------+-----------+-----------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
|       Creative_Type|            Director|         Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|      Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|              Source|               Title|US_DVD_Sales| US_Gross|Worldwide_Gross|
+--------------------+--------------------+--------------------+-----------+----------+-----------+-----------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
|  Historical Fiction|Francis Ford Coppola|  Paramount Pictures|        9.2|    411088|       null|             null|          7000000|   15-Mar-72|                   100|            null|                null|       The Godfather|        null|134966411|      268500000|
|  Historical Fiction|      Frank Darabont|       Sony Pictures|        9.2|    519541|          R|            Drama|         25000000|   23-Sep-94|                    88|            null|Based on Book/Sho...|The Shawshank Red...|        null| 28241469|       28241469|
|     Science Fiction|   Christopher Nolan|        Warner Bros.|        9.1|    188247|      PG-13|Thriller/Suspense|        160000000|   16-Jul-10|                    87|             147| Original Screenplay|           Inception|        null|285630280|      753830280|
|  Historical Fiction|Francis Ford Coppola|  Paramount Pictures|        9.0|    245271|       null|             null|         13000000|   11-Dec-74|                  null|            null|                null|The Godfather: Pa...|        null| 57300000|       57300000|
|                null|        Sidney Lumet|      United Artists|        8.9|    119101|       null|            Drama|           340000|   13-Apr-57|                  null|            null| Original Screenplay|        12 Angry Men|        null|        0|              0|
|        Kids Fiction|                null|Walt Disney Pictures|        8.9|     67380|          G|        Adventure|        200000000|   18-Jun-10|                    99|             102| Original Screenplay|         Toy Story 3|        null|410640665|     1046340665|
|                null|        Milos Forman|                 MGM|        8.9|    214457|       null|             null|          4400000|   19-Nov-75|                    96|            null|Based on Book/Sho...|One Flew Over the...|        null|108981275|      108981275|
|Contemporary Fiction|   Quentin Tarantino|             Miramax|        8.9|    417703|          R|            Drama|          8000000|   14-Oct-94|                    94|            null| Original Screenplay|        Pulp Fiction|        null|107928762|      212928762|
|          Super Hero|   Christopher Nolan|        Warner Bros.|        8.9|    465000|      PG-13|           Action|        185000000|   18-Jul-08|                    93|             152|Based on Comic/Gr...|     The Dark Knight|   234119058|533345358|     1022345358|
|       Dramatization|    Steven Spielberg|           Universal|        8.9|    276283|          R|            Drama|         25000000|   15-Dec-93|                    97|            null|Based on Real Lif...|    Schindler's List|        null| 96067179|      321200000|
|  Historical Fiction|        Sergio Leone|  Paramount Pictures|        8.8|     74184|      PG-13|          Western|          5000000|   28-May-69|                  null|            null| Original Screenplay|C'era una volta i...|        null|  5321508|        5321508|
|Contemporary Fiction|       David Fincher|    20th Century Fox|        8.8|    382470|          R|            Drama|         65000000|   15-Oct-99|                    81|             139|Based on Book/Sho...|          Fight Club|        null| 37030102|      100853753|
|       Dramatization|     Martin Scorsese|        Warner Bros.|        8.8|    229156|       null|            Drama|         25000000|   19-Sep-90|                    97|            null|Based on Book/Sho...|          Goodfellas|        null| 46743809|       46743809|
|  Historical Fiction|      Akira Kurosawa|     Cowboy Pictures|        8.8|     96698|       null|           Action|           500000|   19-Nov-56|                  null|            null| Original Screenplay|Shichinin no samurai|        null|   271736|         271736|
|             Fantasy|       Peter Jackson|            New Line|        8.8|    364077|      PG-13|        Adventure|         94000000|   17-Dec-03|                  null|             201|Based on Book/Sho...|The Lord of the R...|        null|377027325|     1133027325|
|  Historical Fiction|      Michael Curtiz|        Warner Bros.|        8.8|    167939|       null|            Drama|           950000|  1942-01-01|                    97|            null|       Based on Play|          Casablanca|        null| 10462500|       10462500|
|Contemporary Fiction|          Katia Lund|             Miramax|        8.8|    166897|          R|            Drama|          3300000|   17-Jan-03|                  null|            null|Based on Book/Sho...|      Cidade de Deus|        null|  7563397|       28763397|
|             Fantasy|       Peter Jackson|            New Line|        8.8|    387438|      PG-13|        Adventure|        109000000|   19-Dec-01|                  null|             178|Based on Book/Sho...|The Lord of the R...|        null|314776170|      868621686|
|                null|         Frank Capra|                null|        8.7|    101499|       null|             null|          3180000|  1946-01-01|                    94|            null|                null|It's a Wonderful ...|    19339789|  6600000|        6600000|
|Contemporary Fiction|        Bryan Singer|            Gramercy|        8.7|    266890|          R|            Drama|          6000000|   16-Aug-95|                    87|            null| Original Screenplay|  The Usual Suspects|        null| 23341568|       23341568|
+--------------------+--------------------+--------------------+-----------+----------+-----------+-----------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+---------+---------------+
only showing top 20 rows

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [IMDB_Rating#62 DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(IMDB_Rating#62 DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [id=#914]
      +- FileScan json [Creative_Type#59,Director#60,Distributor#61,IMDB_Rating#62,IMDB_Votes#63L,MPAA_Rating#64,Major_Genre#65,Production_Budget#66L,Release_Date#67,Rotten_Tomatoes_Rating#68L,Running_Time_min#69L,Source#70,Title#71,US_DVD_Sales#72L,US_Gross#73L,Worldwide_Gross#74L] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/movies], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Creative_Type:string,Director:string,Distributor:string,IMDB_Rating:double,IMDB_Votes:bigi...

In [25]:
# put nulls first or last
proper_worst_movies_df = movies_df.orderBy(col("IMDB_Rating").asc_nulls_last())
proper_worst_movies_df.show()

+--------------------+------------------+------------------+-----------+----------+-----------+---------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+--------+---------------+
|       Creative_Type|          Director|       Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|    Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|              Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|
+--------------------+------------------+------------------+-----------+----------+-----------+---------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+--------+---------------+
|        Kids Fiction|              null|     Sony Pictures|        1.4|     10886|         PG|         Comedy|         20000000|   27-Aug-04|                  null|            null| Original Screenplay|Super Babies: Bab...|        null| 9109322|        9109322|
|                null|              null|             Romar|        1.5|       486|          R|         Comedy|          1000000|   18-Mar-05|                  null|            null| Original Screenplay|  The Helix...Loaded|        null|    3700|           3700|
|Contemporary Fiction|              null|  20th Century Fox|        1.6|     17596|         PG|        Musical|         12000000|   20-Jun-03|                     8|            null|         Based on TV|From Justin to Kelly|        null| 4922166|        4922166|
|Contemporary Fiction|              null|     Sony Pictures|        1.7|      7466|      PG-13|          Drama|          5600000|    1-Sep-06|                     3|            null| Original Screenplay|           Crossover|     2177636| 7009668|        7009668|
|Contemporary Fiction|   Jason Friedberg|         Lionsgate|        1.7|     34928|      PG-13|         Comedy|         20000000|   29-Aug-08|                     2|              88| Original Screenplay|      Disaster Movie|     9859088|14190901|       34690901|
|        Kids Fiction|              null|          New Line|        2.0|     15800|         PG|         Comedy|        100000000|   18-Feb-05|                     6|            null|Based on Comic/Gr...|     Son of the Mask|        null|17018422|       59918422|
|Contemporary Fiction|Vondie Curtis-Hall|  20th Century Fox|        2.0|     13778|      PG-13|        Musical|          8500000|   21-Sep-01|                     7|            null| Original Screenplay|             Glitter|        null| 4273372|        4273372|
|Contemporary Fiction|              null|           Trimark|        2.1|      3164|      PG-13|         Comedy|          7000000|   13-Mar-98|                    14|            null| Original Screenplay|Chairman of the B...|        null|  306715|         306715|
|        Kids Fiction|              null|          Polygram|        2.1|      1456|          G|      Adventure|         15000000|    3-Apr-98|                  null|            null|         Based on TV|Barney's Great Ad...|        null|11156471|       11156471|
|             Factual|              null|  Indican Pictures|        2.2|       380|  Not Rated|    Documentary|           200000|   10-May-02|                  null|            null|Based on Real Lif...|              Hybrid|        null|  162605|         162605|
|Contemporary Fiction|   Jason Friedberg|  20th Century Fox|        2.2|     48975|      PG-13|         Comedy|         20000000|   26-Jan-07|                     2|              86| Original Screenplay|          Epic Movie|    16839362|39739367|       86858578|
|        Kids Fiction|              null|     Sony Pictures|        2.2|      9038|         PG|         Comedy|         13000000|   12-Mar-99|                     2|              94| Original Screenplay|       Baby Geniuses|        null|27151490|       27151490|
|                null|              null|               MGM|        2.2|       376|       null|           null|           558000|  1931-01-01|                  null|            null|                null|           Mata Hari|        null|  900000|         900000|
|Contemporary Fiction|              null|   Fox Searchlight|        2.2|      6343|      PG-13|Romantic Comedy|          3000000|    7-Apr-06|                    23|            null| Original Screenplay|          Phat Girlz|    18090044| 7061128|        7271305|
|             Fantasy|          Uwe Boll|         Lionsgate|        2.3|     26028|          R|         Horror|         20000000|   28-Jan-05|                     1|              96|       Based on Game|   Alone in the Dark|        null| 5178569|        8178569|
|     Science Fiction|              null|      Warner Bros.|        2.3|     39316|      PG-13|         Action|         80000000|   12-May-00|                  null|             121|Based on Book/Sho...|Battlefield Earth...|        null|21471685|       29725663|
|                null|              null|Kino International|        2.3|       236|      PG-13|          Drama|         15000000|    6-Feb-04|                  null|            null|                null|          The Return|        null|  501752|        2658490|
|             Factual|              null|          New Line|        2.3|      3211|          R|    Documentary|          4000000|   25-Apr-03|                    35|            null|         Based on TV|     The Real Cancun|        null| 3816594|        3816594|
|Contemporary Fiction|              null|     Sony Pictures|        2.4|      6809|         PG|         Comedy|         76000000|    8-Aug-07|                     1|              85| Original Screenplay|      Daddy Day Camp|     5405521|13235267|       18197398|
|Contemporary Fiction|      Martin Brest|     Sony Pictures|        2.4|     29031|          R|Romantic Comedy|         54000000|    1-Aug-03|                     6|            null| Original Screenplay|               Gigli|        null| 6087542|        7266209|
+--------------------+------------------+------------------+-----------+----------+-----------+---------------+-----------------+------------+----------------------+----------------+--------------------+--------------------+------------+--------+---------------+
only showing top 20 rows

Exercises

1. Sum up ALL the profits of ALL the movies in the dataset

2. Count how many distinct directors we have

3. Show the mean, stddev for US gross revenue

4. Compute the average IMDB rating, average US gross PER DIRECTOR

5. Show the average difference between IMDB rating and Rotten Tomatoes rating

# Joins

In [28]:
guitars_df = spark.read.json("data/guitars")
guitar_players_df = spark.read.json("data/guitarPlayers")
bands_df = spark.read.json("data/bands")

In [29]:
# inner joins = all rows from the "left" and "right" DF for which the condition is true
join_condition = guitar_players_df.band == bands_df.id
guitarists_bands_df = guitar_players_df.join(bands_df, join_condition, "inner")

guitarists_bands_df.show()
guitarists_bands_df.explain()


# How to work hash partitioning and join

#                     ^^ "left" DF            ^^ "right" DF 
# node 1 => 1|    [1]|  1| Angus Young|     Sydney|
# node 2 => 1|       AC/DC|1973|
# node 3 => 1|    [1]|  1| Angus Young|     Sydney| 1|       AC/DC|1973|
# node 4 => 2, 4
# node 5 => 11, 12
#

+----+-------+---+------------+-----------+---+------------+----+
|band|guitars| id|        name|   hometown| id|        name|year|
+----+-------+---+------------+-----------+---+------------+----+
|   0|    [0]|  0|  Jimmy Page|     London|  0|Led Zeppelin|1968|
|   1|    [1]|  1| Angus Young|     Sydney|  1|       AC/DC|1973|
|   3|    [3]|  3|Kirk Hammett|Los Angeles|  3|   Metallica|1981|
+----+-------+---+------------+-----------+---+------------+----+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- SortMergeJoin [band#837L], [id#853L], Inner
   :- Sort [band#837L ASC NULLS FIRST], false, 0
   :  +- Exchange hashpartitioning(band#837L, 200), ENSURE_REQUIREMENTS, [id=#1081]
   :     +- Filter isnotnull(band#837L)
   :        +- FileScan json [band#837L,guitars#838,id#839L,name#840] Batched: false, DataFilters: [isnotnull(band#837L)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/guitarPlayers], PartitionFilters: [], PushedFilters: [IsNotNull(band)], ReadSchema: struct<band:bigint,guitars:array<bigint>,id:bigint,name:string>
   +- Sort [id#853L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(id#853L, 200), ENSURE_REQUIREMENTS, [id=#1082]
         +- Filter isnotnull(id#853L)
            +- FileScan json [hometown#852,id#853L,name#854,year#855L] Batched: false, DataFilters: [isnotnull(id#853L)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/bands], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<hometown:string,id:bigint,name:string,year:bigint>

In [30]:
# differentiate the "name" column - use the reference from the original DF
guitarists_bands_upper_df = guitarists_bands_df.select(upper(bands_df.name))
guitarists_bands_upper_df.show()
guitarists_bands_upper_df.explain()

+------------+
| upper(name)|
+------------+
|LED ZEPPELIN|
|       AC/DC|
|   METALLICA|
+------------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Project [upper(name#854) AS upper(name)#917]
   +- SortMergeJoin [band#837L], [id#853L], Inner
      :- Sort [band#837L ASC NULLS FIRST], false, 0
      :  +- Exchange hashpartitioning(band#837L, 200), ENSURE_REQUIREMENTS, [id=#1241]
      :     +- Filter isnotnull(band#837L)
      :        +- FileScan json [band#837L] Batched: false, DataFilters: [isnotnull(band#837L)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/guitarPlayers], PartitionFilters: [], PushedFilters: [IsNotNull(band)], ReadSchema: struct<band:bigint>
      +- Sort [id#853L ASC NULLS FIRST], false, 0
         +- Exchange hashpartitioning(id#853L, 200), ENSURE_REQUIREMENTS, [id=#1242]
            +- Filter isnotnull(id#853L)
               +- FileScan json [id#853L,name#854] Batched: false, DataFilters: [isnotnull(id#853L)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/data/bands], PartitionFilters: [], PushedFilters: [IsNotNull(id)], ReadSchema: struct<id:bigint,name:string>

In [31]:
# left outer = everything in the inner join + all the rows in the LEFT DF that were not matched (with nulls in the cols for the right DF)
guitar_players_df.join(bands_df, join_condition, "left_outer").show()

+----+-------+---+------------+-----------+----+------------+----+
|band|guitars| id|        name|   hometown|  id|        name|year|
+----+-------+---+------------+-----------+----+------------+----+
|   0|    [0]|  0|  Jimmy Page|     London|   0|Led Zeppelin|1968|
|   1|    [1]|  1| Angus Young|     Sydney|   1|       AC/DC|1973|
|   2| [1, 5]|  2|Eric Clapton|       null|null|        null|null|
|   3|    [3]|  3|Kirk Hammett|Los Angeles|   3|   Metallica|1981|
+----+-------+---+------------+-----------+----+------------+----+

In [32]:
# right outer = everything in the inner join + all the rows in the RIGHT DF that were not matched (with nulls in the cols for the left DF)
guitar_players_df.join(bands_df, join_condition, "right_outer").show()

+----+-------+----+------------+-----------+---+------------+----+
|band|guitars|  id|        name|   hometown| id|        name|year|
+----+-------+----+------------+-----------+---+------------+----+
|   0|    [0]|   0|  Jimmy Page|     London|  0|Led Zeppelin|1968|
|   1|    [1]|   1| Angus Young|     Sydney|  1|       AC/DC|1973|
|   3|    [3]|   3|Kirk Hammett|Los Angeles|  3|   Metallica|1981|
|null|   null|null|        null|  Liverpool|  4| The Beatles|1960|
+----+-------+----+------------+-----------+---+------------+----+

In [33]:
# full outer join = everythin in the inner join + all the rows in BOTH DFs that were not matched (with nulls in the other DF's cols)
guitar_players_df.join(bands_df, join_condition, "outer").show()

+----+-------+----+------------+-----------+----+------------+----+
|band|guitars|  id|        name|   hometown|  id|        name|year|
+----+-------+----+------------+-----------+----+------------+----+
|   0|    [0]|   0|  Jimmy Page|     London|   0|Led Zeppelin|1968|
|   1|    [1]|   1| Angus Young|     Sydney|   1|       AC/DC|1973|
|   2| [1, 5]|   2|Eric Clapton|       null|null|        null|null|
|   3|    [3]|   3|Kirk Hammett|Los Angeles|   3|   Metallica|1981|
|null|   null|null|        null|  Liverpool|   4| The Beatles|1960|
+----+-------+----+------------+-----------+----+------------+----+

In [34]:
# join on a single column
guitar_players_df.join(bands_df, "id").show()

+---+----+-------+------------+-----------+------------+----+
| id|band|guitars|        name|   hometown|        name|year|
+---+----+-------+------------+-----------+------------+----+
|  0|   0|    [0]|  Jimmy Page|     London|Led Zeppelin|1968|
|  1|   1|    [1]| Angus Young|     Sydney|       AC/DC|1973|
|  3|   3|    [3]|Kirk Hammett|Los Angeles|   Metallica|1981|
+---+----+-------+------------+-----------+------------+----+

In [35]:
# left semi joins = everything in the LEFT DF for which there is a row in the right DF for which the condition is true
# more like a filter
# equivalent SQL: select * from guitar_players WHERE EXISTS (...)
guitar_players_df.join(bands_df, join_condition, "left_semi").show()

+----+-------+---+------------+
|band|guitars| id|        name|
+----+-------+---+------------+
|   0|    [0]|  0|  Jimmy Page|
|   1|    [1]|  1| Angus Young|
|   3|    [3]|  3|Kirk Hammett|
+----+-------+---+------------+

In [36]:
# left anti joins = everything in the LEFT DF for which there is __NO__ row in the right DF for which the condition is true
guitar_players_df.join(bands_df, join_condition, "left_anti").show()

+----+-------+---+------------+
|band|guitars| id|        name|
+----+-------+---+------------+
|   2| [1, 5]|  2|Eric Clapton|
+----+-------+---+------------+

Exercises
Read the tables in the Postgres database: employees, salaries, dept_emp
1. show all employees and their max salary over time
2. show all employees who were never managers
3. for every employee, find the difference between their salary (current/latest) and 
    the max salary of their department (departments table)
"""

In [ ]:
# WORK WITH POSTGRES FROM PyCharm project - https://github.com/vadopolski/eas-017-RDD-py

def read_table(table_name):
    return spark.read. \
        format("jdbc"). \
        option("driver", driver). \
        option("url", url). \
        option("user", user). \
        option("password", password). \
        option("dbtable", "public." + table_name). \
        load()

employees_df = read_table("employees")
salaries_df = read_table("salaries")
dept_managers_df = read_table("dept_manager")
dept_emp_df = read_table("dept_emp")
departments_df = read_table("departments")